#######################################################################################################################
#
# Requirements used for UTXO-based virtual channels
#
# Install with
# pip install -r requirements.txt
#
#######################################################################################################################

bitcoin-utils